{
  "printWidth": 120,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "none",
  "bracketSameLine": true,
  "arrowParens": "avoid",
  "overrides": [{ "files": "*.css", "options": { "singleQuote": false } }]
}
